<!DOCTYPE html>
<html>
  <% include ./header.ejs %>

  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10">
          <%- docPageBody %>
        </div>
      </div>
    </div>
  </body>

  <% include ./footer.ejs %>
</html>
