<!DOCTYPE html>
<html>
  <%- include ("./header.ejs") %>

  <body>
    <main role="main" class="container-fluid h-100 main-panel">
      <div class="row h-100 docent-panel main-panel">
        <!-- Emulator pane: -->
        <div class="col-7 main-panel h-100 emulator-panel">
          <div id="emulatorStartPanel" class="jumbotron">
            <h1 class="display-4 text-center">Click here to start!</h1>
          </div>
          <div id="emulatorPanel" class="emulator-div d-none">
            <canvas id="emulatorCanvas" class="emulator-canvas" />
          </div>
        </div>

        <!-- Docent docs pane: -->
        <div class="col-5 mx-auto docent-div h-100">
          <div class="embed-responsive docs-div h-100">
            <iframe name="docsFrame" id="docsFrame" class="embed-responsive-item" src="/docs/region/EMULATOR_HELP"></iframe>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <!-- Directioneering pane: -->
      <div class="container-fluid">
        <div class="row status-panel d-none text-center align-items-center">
          <div class="col-2">
            <img id="compass" src="/images/compass.png"></img>
          </div>
          <div class="col-2">
            West <span id="westArrow"></span>
            <h5 id="westHeader" class="text-center"></h5>
            <img id="westImage" width="160px"></img>            
          </div>          
          <div class="col-2">
            North <span id="northArrow"></span>
            <h5 id="northHeader" class="text-center"></h5>
            <img id="northImage" width="160px"></img>
          </div>
          <div class="col-2">
            East <span id="eastArrow"></span>
            <h5 id="eastHeader" class="text-center"></h5>
            <img id="eastImage" width="160px"></img>            
          </div>          
          <div class="col-2">
            South <span id="southArrow"></span>
            <h5 id="southHeader" class="text-center"></h5>
            <img id="southImage" width="160px"></img>            
          </div>
          <div class="col-2">
            <div class="btn-group-vertical">
              <button type="submit" id="fullScreenBtn" class="btn btn-primary" href="#" onclick="emulator.requestFullScreen(); return false;">Full Screen</button>
              <button type="submit" id="fullScreenBtn" class="btn btn-success" href="#" onclick="viewHelp(); return false;">Help</button>
            </div>
          </div>
        </div>

        <!-- Login pane: -->
        <div class="row login-panel text-center align-items-center">
          <div class="mx-auto">
            <form class="form-inline">
              <div class="form-group">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" disabled="disabled" type="button" id="avatarMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Avatar Name
                  </button>
                  <div id="avatarMenu" class="dropdown-menu" aria-labelledby="avatarMenuButton"></div>
                </div>
              </div>
              &nbsp;
              <div class="btn-group-horizontal">
                <button type="submit" id="avatarSubmit" disabled="disabled" class="btn btn-primary" href="#" onclick="activateDocent(); return false;">Activate Docent</button>
                <button type="submit" id="fullScreenBtn" class="btn btn-primary" href="#" onclick="emulator.requestFullScreen(); return false;">Full Screen</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>

    <%- include ("./footer.ejs") %>
    <script type="text/javascript">
      var AvatarName = null;
      var AvatarAttached = false;
      var RedirectToEvents = false;
      var EmulatorUrl = "<%= config.viceJsUrl %>";
    </script>
    <script type="text/javascript" src="/javascripts/avatarSelector.js"></script>
    <script type="text/javascript" src="/javascripts/eventStream.js"></script>
    <script type="text/javascript" src="/javascripts/es6-promise.js"></script>
    <script type="text/javascript" src="/javascripts/browserfs.min.js"></script>
    <script type="text/javascript" src="/javascripts/emularity.js"></script>
    <script type="text/javascript" src="/javascripts/emulator.js"></script>
  </body>
</html>
