<!DOCTYPE html>
<html>
  <% include ./header.ejs %>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">

        </div>
      </div>
    </div>

    <% include ./footer.ejs %>
    <script type="text/javascript">
      var avatarName = "<% avatarName %>";
    </script>
    <script src="/static/javascripts/eventStream.js" type="text/javascript"></script>
  </body>
</html>
