<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style type="text/css">
    body, html {
      height: 100%;
      padding: 20px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      background: linear-gradient(rgba(30, 33, 42, 0.5), rgba(30, 33, 42, 0.5)), url("<%= config.backgroundImages[Math.floor(Math.random() * config.backgroundImages.length)] %>") center/cover;
    }
  </style>
</head>
