<!DOCTYPE html>
<html>
  <% include ./header.ejs %>

  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6 text-center">
          <h3>Welcome to Neohabitat!</h3>
          <h4><%= Object.keys(habiproxy.sessions).length %> avatars are currently in-world.</h4>
          <h4>Please select your avatar below:</h4>
          <table class="table">
            <thead>
              <th>Avatar</th>
              <th>Location</th>
            </thead>
            <tbody>
              <% Object.keys(habiproxy.sessions).forEach(function(avatarName) { %>
                <tr>
                  <td><%= avatarName %><td>
                  <td><%= habiproxy.sessions[avatarName].avatarContext.name %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  <% include ./footer.ejs %>
</html>
