<!DOCTYPE html>
<html>
  <%- include ("./header.ejs") %>

  <body>
    <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
        <div class="col-8 mx-auto">
          <div class="jumbotron">
			<h1 align="center">Welcome to NeoHabitat</h1>
			<p>This web page serves as a virtual <em>Docent</em> to guide you the living recontstruction of the world's first MMO/Virtual World, <em>Lucasfilm's Habitat</em>.
			<hr>
			<p>If you don't see the screen below, double-click the <strong>Launch Habitat</strong> icon.</p>
			<table>
			<tr><td>In a few moments, you'll be brought to the Neohabitat splash screen. <strong>Press Enter</strong></td>
			<td><img width="150px" alt="Neohabitat Splash Screen" border="0" src="https://raw.githubusercontent.com/frandallfarmer/neohabitat-doc/master/docs/images/neohabitat_splash.png"/></td></tr>
			<tr><td>Enter a short username, <strong>Press Enter</strong></td>
			<td><img width="150px" alt="Neohabitat Login" border="0" src="https://raw.githubusercontent.com/frandallfarmer/neohabitat-doc/master/docs/images/launcher_login.png"/></td></tr>
			<tr><td><p>Wait for this screen to appear,</p> <strong>Press Alt-n</strong>, then <strong>Press Enter</strong> </td>
			<td><img width="150px" alt="Habitat Imagery Disk Step" border="0" src="https://raw.githubusercontent.com/frandallfarmer/neohabitat-doc/master/docs/images/habitat_imagery.png"/></td></tr>
			<tr><td><p>If you are new, you'll arrive here.</p><strong>Type your user name again below to use this docent.</td>
			<td><img width="150px" alt="Avatar In Populopolis" border="0" src="https://raw.githubusercontent.com/frandallfarmer/neohabitat-doc/master/docs/images/immigration.JPG"/></td></tr>
			</table>
			<div id="avatar_login">
			<hr>
        <p class="lead text-center">
          <strong>Avatars in-world: <span id="total_avatars"><%= Object.keys(awakeSessions).length %></span></strong>
        </p>
        <div id="avatar_input">
		  	  <p>If you are already connected and in Habitat, please enter your avatar name below.</p>
          <form method="GET" action="/events" class="form-inline justify-content-center">
            <div class="form-group">
              <label class="sr-only">Avatar</label>
              <input id="avatar_name" name="avatar" type="text" autocomplete="off" class="typeahead form-control" data-provide="typeahead" placeholder="Avatar">
            </div>
            <button id="avatar_submit" type="submit" class="btn btn-success">Log In!</button>
          </form>
        </div>
      </div>
      <hr>
			<p align="center"><small>This is a project sponsored by The MADE: The Museum of Art and Digital Entertainment in Oakland, CA.</small></p>
          </div>
        </div>
      </div>
    </div>
    <%- include ("./footer.ejs") %>
    <script type="text/javascript">
      var RedirectToEvents = true;
    </script>
    <script src="/javascripts/index.js" type="text/javascript"></script>
  </body>
</html>
