<!DOCTYPE html>
<html>
  <% include ./header.ejs %>

  <body>
    <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
        <div class="col-8 mx-auto">
          <div class="jumbotron">
            <h1 class="display-4 text-center">Welcome to Neohabitat!</h1>
            <p class="lead text-center">
              <strong>Avatars in-world: <span id="total_avatars"><%= Object.keys(habiproxy.sessions).length %></span></strong>
            </p>
            <div id="avatar_input">
              <p class="lead text-center">Please select your Avatar below:</p>
              <form method="GET" action="/events" class="form-inline justify-content-center">
                <div class="form-group">
                  <label class="sr-only">Avatar</label>
                  <input id="avatar_name" type="text" autocomplete="off" class="typeahead form-control" data-provide="typeahead" placeholder="Avatar">
                </div>
                <button id="avatar_submit" type="submit" class="btn btn-success">Log In!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ./footer.ejs %>
    <script src="/javascripts/index.js" type="text/javascript"></script>
  </body>
</html>
