---
extends: default
rules:
  line-length:
    max: 160
    # SSH public keys live on single lines and are commonly > 160 chars.
    ignore: |
      group_vars/all.yml
  truthy: disable
  comments-indentation: disable
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
