[defaults]
inventory = inventory/production.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_cache
fact_caching_timeout = 3600
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
control_path = ~/.ssh/cm/ansible-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ServerAliveInterval=30
